.title {
    padding-top: 120px;
    color: #000;
    text-align: center;
    font-family: Helvetica;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.green {
    background: #389851;  
}

.orange {
    background: #F7941E;  
}

.top-button {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    width: 400px;
    height: 77.937px;
    flex-shrink: 0;

    color: #FFF;
    text-align: center;
    font-family: Helvetica;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    display: flex;
    justify-content: center; 
    align-items: center;
}

.bottom-button {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;   
    border-left: 1px solid #000;
    background: #FFF;
    width: 400px;
    height: 53.295px;   
    flex-shrink: 0;
}

.button {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 50px;
}

.slider {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 100px;
}

.chosen-value {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 40px;
    font-size: 22px;
    font-family: Helvetica;
    font-weight: bold;
}

.next-button {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 40px;
}

.back-button {
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    bottom: 60px;
}